@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,600); }

body {
  font-family: "Open Sans", sans-serif; }

button {
  font: 1rem "Open Sans", sans-serif;
  border: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #EA5F5F;
  cursor: pointer;
  color: #FEFEFE;
  height: 100%;
  width: auto;
  padding: 0 1em;
  outline: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  margin: 0.5em 0; }
  button:hover {
    background-color: #e74848; }

input {
  font: 1rem "Open Sans", sans-serif;
  border: 1px solid #EA5F5F;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  outline: 0;
  height: 100%;
  padding: 0 0.5em;
  color: #EA5F5F; }

::-webkit-input-placeholder {
  color: #EA5F5F; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #EA5F5F; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #EA5F5F; }

:-ms-input-placeholder {
  color: #EA5F5F; }

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

.hero__wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #FEFEFE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.hero__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  background-color: #EA5F5F;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.hero__right {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  background-color: #FEFEFE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.hero__logo {
  margin: 0 auto; }
  .hero__logo svg {
    width: 130px;
    height: 130px; }

.hero__signup, .hero__confirm {
  margin: 0 auto auto;
  color: #222222;
  padding: 1em; }
  .hero__signup-content h3, .hero__confirm-content h3 {
    font-weight: 400; }
  .hero__signup-content a, .hero__confirm-content a {
    color: #222222;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease; }
    .hero__signup-content a:hover, .hero__confirm-content a:hover {
      color: #e5e5e5; }
  .hero__signup-form form, .hero__confirm-form form {
    margin-top: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero__signup-form input, .hero__confirm-form input {
    -webkit-box-flex: 3;
    -webkit-flex: 3 0 auto;
        -ms-flex: 3 0 auto;
            flex: 3 0 auto;
    margin: 0.25em; }
  .hero__signup-form button, .hero__confirm-form button {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0.25em; }
  .hero__signup-form p, .hero__confirm-form p {
    margin: 0; }

.signup__form {
  height: 2.2em; }

@media only screen and (min-width: 768px) {
  .hero__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap; }
  .hero__left, .hero__right {
    min-height: 100vh; }
  .hero__signup, .hero__confirm {
    margin: 0 auto;
    max-width: 80vh; }
  .hero__logo svg {
    width: 250px;
    height: 250px; } }

body, main {
  background: #FEFEFE; }
