<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
        <script src="{{ site.github.url }}/dest/js/main.min.js"></script>


        <!-- Useful for styles with static names...
        <link href="{{ site.github.url }}/path/to/css.css" rel="stylesheet">
        and for documents/pages whose URL's can change...
        <a href="{{ page.url | prepend: site.github.url }}">{{ page.title }}</a>
        -->
    </head>
    <body>
      {% include header.html %}

      <main role="main">

      {{ content }}

      </main>

    </body>
</html>
