<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Defty - Vind of verspreid haakworkshops, viltworkshops en breiworkshops</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Op Defty vind of verspreid je creatieve workshops en cursussen. Vind deelnemers of neem deel aan haakworkshops, breiworkshops en viltworkshops.">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/main.css">
        <script src="dest/js/main.min.js"></script>


        <!-- Useful for styles with static names...
        <link href="{{ site.github.url }}/path/to/css.css" rel="stylesheet">
        and for documents/pages whose URL's can change...
        <a href="{{ page.url | prepend: site.github.url }}">{{ page.title }}</a>
        -->

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/favicon/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/assets/favicon/manifest.json">
        <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ea5f5f">

        <meta property="og:url" content="http://defty.nl/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Defty - Vind of verspreid haakworkshops, viltworkshops en breiworkshops">
        <meta property="og:image" content="http://defty.nl/assets/defty-bg.png">
        <meta property="og:description" content="Op Defty vind of verspreid je creatieve workshops en cursussen. Vind deelnemers of neem deel aan haakworkshops, breiworkshops en viltworkshops.">
        <meta property="og:site_name" content="Dtfy">
        <meta property="og:locale" content="nl_NL">

        <meta name="twitter:card" content="Op Defty vind of verspreid je creatieve workshops en cursussen. Vind deelnemers of neem deel aan haakworkshops, breiworkshops en viltworkshops.">
        <meta name="twitter:site" content="@deftynl">
        <meta name="twitter:creator" content="@fishsander">
        <meta name="twitter:url" content="http://defty.nl/">
        <meta name="twitter:title" content="Defty - Vind of verspreid haakworkshops, viltworkshops en breiworkshops">
        <meta name="twitter:description" content="Op Defty vind of verspreid je creatieve workshops en cursussen. Vind deelnemers of neem deel aan haakworkshops, breiworkshops en viltworkshops.">
        <meta name="twitter:image" content="http://defty.nl/assets/defty-bg.png">

        <link href="https://plus.google.com/u/0/110374860995221948589" rel="publisher">
        <meta itemprop="name" content="Defty - Vind of verspreid haakworkshops, viltworkshops en breiworkshops">
        <meta itemprop="description" content="Op Defty vind of verspreid je creatieve workshops en cursussen. Vind deelnemers of neem deel aan haakworkshops, breiworkshops en viltworkshops.">
        <meta itemprop="image" content="http://defty.nl/assets/defty-bg.png">
    </head>
    <body>

      <main role="main">

      {{ content }}

      </main>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-49330656-2', 'auto');
        ga('send', 'pageview');

      </script>

    </body>
</html>
